language:node_js
sudo:false
node_js:
    -"4"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
before_install:
    - npm install -g mocha
    - npm install
branches:
  only:
    - master
