<div class="am-container">
    <header class="header">
        <span class="title">@icepy Test Todo App</span>
    </header>
    <div id="list" class="content">
        <ul class="am-list">

        </ul>
        <div class="am-btn-group go-back go-backs">
            <button type="button" class="am-btn am-btn-primary am-radius">Back</button>
        </div>
        <div class="am-btn-group go-back" id="contextRoot">
            <button type="button" class="am-btn am-btn-primary am-radius send">{'root':'icepy'} 向Root实例对象发送数据</button>
        </div>
    </div>
    <footer class="footer">
        <span class="title">@YYT PC Demo</span>
    </footer>
</div>
